path {
  stroke: #c4c4c4;
  stroke-width: 1.5px;
  fill: none;
}

circle.blip, polygon.blip {
  fill: #11a5e3;
}

circle.active, polygon.active {
  stroke: #000;
  stroke-width: 1.5px;
}

text.blip {
}

div#blipDetails {
  float: right;
  max-width: 500px;
}

